@model List<ResultTastyVM>

@{
    ViewData["Title"] = "Index";
    Layout = null;
    var i = 0;
}

<html>

@await Component.InvokeAsync("_UILayoutHeadPartialComponent")

<body class="sub_page">

    @await Component.InvokeAsync("_MenuNavbarPartialComponent")
    <br />
    <br />

    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-dark mb-30">
                    <a class="breadcrumb-item text-white" href="/Default/Index/">AnaSayfa</a>
                    <a class="breadcrumb-item text-white" href="/RapidAPI/Index/">Dış Hizmetler</a>
                    <span class="breadcrumb-item">Tasty</span>
                </nav>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-12 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Ürün Adı</th>
                            <th>Hazırlanma Süresi</th>
                            <th>Videoyu Gör</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        @foreach (var item in Model)
                        {
                            i++;
                            <tr>
                                <td>@i</td>
                                <td>@item.Name</td>
                                <td><img src="@item.thumbnail_url" alt="Thumbnail Url" style="width:50px;height:50px" /></td>
                                <td><a href="@item.original_video_url" class="btn btn-warning">Tarifi İzle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    @await Component.InvokeAsync("_UILayoutFooterPartialComponent")
    @await Component.InvokeAsync("_UILayoutScriptPartialComponent")

</body>

</html>
