@model RegisterVM
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Kayıt Ol!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="~/colorlib-regform-32/css/nunito-font.css">
	<link rel="stylesheet" href="~/colorlib-regform-32/css/style.css" />
</head>
<body class="form-v6">
	<div class="page-content">
		<div class="form-v6-content">
			<div class="form-left">
				<img src="~/colorlib-regform-32/images/register.jpg" alt="form" style="height:660px; width:500px">
			</div>
			<form class="form-detail" method="post">
				<h2>Yeni Kullanıcı Kaydı</h2>
				<div class="form-row">
					<input type="text" id="firstName" class="input-text" placeholder="Adınız.." required asp-for="FirstName">
				</div>				   
				<div class="form-row"> 
					<input type="text" id="lastName" class="input-text" placeholder="Soyadınız.." required asp-for="LastName">
				</div>				   
				<div class="form-row"> 
					<input type="text" id="userName" class="input-text" placeholder="Kullanıcı Adınız.." required asp-for="UserName">
				</div>				   
				<div class="form-row"> 
					<input type="text" id="emailAddress" class="input-text" placeholder="Email Adresiniz.." required pattern="[^@@]+@@[^@@]+.[a-zA-Z]{2,6}" asp-for="Email">
				</div>
				<div class="form-row">
					<input type="password" id="password" class="input-text" placeholder="Şifre.." required asp-for="Password">
				</div>
				<div class="form-row-last">
					<input type="submit" name="register" class="register" value="Kayıt Ol">
					<a href="/Login/Index/"><input class="register" style="text-align:center;" value="Giriş Yap"></a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
