@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<div class="content">
    <div class="container-fluid">

        <script type="text/javascript">

            $(document).ready(() => {

                var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7271/SignalRHub").build();
                $("#connstatus").text(connection.state);
                connection.start().then(() => {
                    $("#connstatus").text(connection.state);
                    setInterval(() => {
                        connection.invoke("SendProgress");
                    }, 1000);
                }).catch((err) => { console.error(err) });

                connection.on("ReceiveTotalMoneyInCase", (totalMoney) => {
                    $("#totalMoney").text(totalMoney);
                });

                connection.on("ReceiveActiveCategoryCount", (activeCategoryCount) => {
                    $("#activeCategoryCount").text(activeCategoryCount);
                });

                connection.on("ReceiveTotalProductCount", (totalProductCount) => {
                    $("#totalProductCount").text(totalProductCount);
                });

                connection.on("ReceiveTotalOrderCount", (totalOrderCount) => {
                    $("#totalOrderCount").text(totalOrderCount);
                });

                connection.on("ReceiveCustomerCount", (totalCustomerCount) => {
                    $("#totalCustomerCount").text(totalCustomerCount);
                });

                connection.on("ReceiveTotalProductPriceSum", (totalProductPrice) => {
                    $("#totalProductPrice").text(totalProductPrice);
                });
                
                connection.on("ReceiveAverageProductPrice", (avgProductPrice) => {
                    $("#avgProductPrice").text(avgProductPrice);
                });

                connection.on("ReceiveCustomerCount", (totalCustomerCount) => {
                    $("#totalCustomerCountProgress").empty();
                    $("#totalCustomerCountProgress").append(`
                        <div class="d-flex justify-content-between mb-1">
                            <span class="text-muted">Toplam Aktif Müşteri Sayısı</span>
                            <span class="text-muted fw-bold"> ${totalCustomerCount}</span>
                        </div>
                        <div class="progress mb-2" style="height: 7px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: ${totalCustomerCount}%" aria-valuenow="${totalCustomerCount}" aria-valuemin="0" aria-valuemax="15" data-toggle="tooltip" data-placement="top" title="${totalCustomerCount}%"></div>
                        </div>
                    `);
                });

                connection.on("ReceiveAverageProductPrice", (avgProductPrice) => {
                    $("#avgProductPriceProgress").empty();
                    $("#avgProductPriceProgress").append(`
                        <div class="d-flex justify-content-between mb-1">
                            <span class="text-muted">Ortalama Ürün Fiyatı</span>
                            <span class="text-muted fw-bold"> ${avgProductPrice} ₺</span>
                        </div>
                        <div class="progress mb-2" style="height: 7px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="${avgProductPrice}" aria-valuemin="0" aria-valuemax="${avgProductPrice*2}" data-toggle="tooltip" data-placement="top" title="${avgProductPrice} ₺"></div>
                        </div>
                    `);
                });

                connection.on("ReceiveAverageDiscountRate", (avgDiscountRate) => {
                    $("#avgDiscountRateProgress").empty();
                    $("#avgDiscountRateProgress").append(`
                        <div class="d-flex justify-content-between mb-1">
                            <span class="text-muted">Ortalama İndirim Oranı</span>
                            <span class="text-muted fw-bold"> ${avgDiscountRate} %</span>
                        </div>
                        <div class="progress mb-2" style="height: 7px;">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: ${avgDiscountRate}%" aria-valuenow="${avgDiscountRate}" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${avgDiscountRate}"></div>
                        </div>
                    `);
                });

                connection.on("ReceiveTotalOrderCount", (totalOrderCount) => {
                    $("#totalOrderCountProgress").empty();
                    $("#totalOrderCountProgress").append(`
                        <div class="d-flex justify-content-between mb-1">
                            <span class="text-muted">Toplam Sipariş Sayısı</span>
                            <span class="text-muted fw-bold"> ${totalOrderCount}</span>
                        </div>
                        <div class="progress mb-2" style="height: 7px;">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: ${totalOrderCount}%" aria-valuenow="${totalOrderCount}" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${totalOrderCount}"></div>
                        </div>
                    `);
                });

                connection.on("ReceiveTodayTotalPrice", (todayOrderTotal) => {
                    $("#todayOrderTotalProgress").empty();
                    $("#todayOrderTotalProgress").append(`
                        <div class="d-flex justify-content-between mb-1">
                            <span class="text-muted">Bugünkü Siparişlerin Toplamı</span>
                            <span class="text-muted fw-bold"> ${todayOrderTotal} ₺</span>
                        </div>
                        <div class="progress mb-2" style="height: 7px;">
                            <div class="progress-bar bg-dark" role="progressbar" style="width: 50%" aria-valuenow="${todayOrderTotal}" aria-valuemin="0" aria-valuemax="${todayOrderTotal*2}" data-toggle="tooltip" data-placement="top" title="${todayOrderTotal} ₺"></div>
                        </div>
                    `);
                });

                connection.on("ReceiveNotificationCountByStatusFalse", (unreadNotificationCount) => {
                    $("#unreadNotificationCountProgress").empty();
                    $("#unreadNotificationCountProgress").append(`
                        <div class="d-flex justify-content-between mb-1">
                            <span class="text-muted">Okunmayan Bildirim Sayısı</span>
                            <span class="text-muted fw-bold"> ${unreadNotificationCount}</span>
                        </div>
                        <div class="progress mb-2" style="height: 7px;">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: ${unreadNotificationCount}%" aria-valuenow="${unreadNotificationCount}" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${unreadNotificationCount}"></div>
                        </div>
                    `);
                });

                connection.on("ReceiveLastOrderPrice", (lastOrderPrice) => {
                    $("#lastOrderPriceProgress").empty();
                    $("#lastOrderPriceProgress").append(`
                        <div class="d-flex justify-content-between mb-1">
                            <span class="text-muted">Son Sipariş Tutarı</span>
                            <span class="text-muted fw-bold"> ${lastOrderPrice} ₺</span>
                        </div>
                        <div class="progress mb-2" style="height: 7px;">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="${lastOrderPrice}" aria-valuemin="0" aria-valuemax="${lastOrderPrice*1,33}" data-toggle="tooltip" data-placement="top" title="${lastOrderPrice} ₺"></div>
                        </div>
                    `);
                });


            });
        </script>

        <h4 class="page-title">Admin İstatistikler & Durumlar</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="row row-card-no-pd">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="fw-bold mt-1">Kasadaki Toplam Tutar</p>
                                <h4 id="totalMoney"><b></b></h4>
                            </div>
                            <hr />
                            <div class="card-body">
                                <p class="fw-bold mt-1">Toplam Ürün Tutarı</p>
                                <h4 id="totalProductPrice"><b></b></h4>
                            </div>
                            <hr />
                            <div class="card-body">
                                <p class="fw-bold mt-1">Ortalama Ürün Fiyatı</p>
                                <h4 id="avgProductPrice" ₺><b></b></h4>
                            </div>
                            <hr />
                            <a href="/Order/CreateOrder/" class="btn btn-primary btn-full text-left mt-3 mb-3"><i class="la la-plus"></i> Yeni Sipariş</a>
                            <hr />
                            <div class="card-footer row">
                                <ul class="nav col-md-12">
                                    <li class="nav-item col-md-6"><a class="btn btn-default btn-link" href="/Order/Index/"><i class="la la-anchor"></i> Siparişler</a></li>
                                    <li class="nav-item ml-auto col-md-6"><a class="btn btn-default btn-link" href="/ProgressBars/Index/"><i class="la la-refresh"></i> Sayfa Yenile</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-body">
                                <div class="progress-card" id="totalCustomerCountProgress"> </div>
                                <div class="progress-card" id="avgProductPriceProgress"> </div>
                                <div class="progress-card" id="avgDiscountRateProgress"> </div>
                                <div class="progress-card" id="totalOrderCountProgress"> </div>
                                <div class="progress-card" id="todayOrderTotalProgress"> </div>
                                <div class="progress-card" id="unreadNotificationCountProgress"> </div>
                                <div class="progress-card" id="lastOrderPriceProgress"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-stats">
                            <div class="card-body">
                                <p class="fw-bold mt-1">İstatistikler</p>
                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big text-center">
                                            <i class="la la-glass text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 d-flex align-items-center">
                                        <div class="numbers">
                                            <p class="card-category">Toplam Kategori</p>
                                            <h4 class="card-title" id="activeCategoryCount"></h4>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big text-center">
                                            <i class="la la-bomb text-primary"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 d-flex align-items-center">
                                        <div class="numbers">
                                            <p class="card-category">Toplam Müşteri</p>
                                            <h4 class="card-title" id="totalCustomerCount"></h4>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big text-center">
                                            <i class="la la-car text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 d-flex align-items-center">
                                        <div class="numbers">
                                            <p class="card-category">Toplam Sipariş</p>
                                            <h4 class="card-title" id="totalOrderCount"></h4>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big text-center">
                                            <i class="la la-heart text-success"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 d-flex align-items-center">
                                        <div class="numbers">
                                            <p class="card-category">Toplam Ürün</p>
                                            <h4 class="card-title" id="totalProductCount"></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

