@model List<ResultNotificationVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
	int i= 1;
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Bildirim işlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Bildirim Listesi</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							Bildirimlerle ilgili işlemi buradan yapabilirsiniz :
						</div>
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Bildirim Mesajı</th>
									<th scope="col">Durum</th>
									<th scope="col">Bildirim Zamanı</th>
									<th scope="col">Sil</th>
									<th scope="col">Güncelle</th>
									<th scope="col">Okundu İşaretle</th>
									<th scope="col">Okunmadı İşaretle</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>@i</td>
										<td>@item.Message</td>
										<td>@item.NotificationStatus</td>
										<td>@item.NotificationDate</td>
										<td><a href="/Notification/DeleteNotification/@item.NotificationId" class="btn btn-outline-danger btn-border btn-round">Sil</a></td>
										<td><a href="/Notification/UpdateNotification/@item.NotificationId" class="btn btn-outline-secondary btn-border btn-round">Güncelle</a></td>
										<td><a href="/Notification/UpdateNotificationStatusChangeToTrue/@item.NotificationId" class="btn btn-outline-warning btn-border btn-round">Okundu</a></td>
										<td><a href="/Notification/UpdateNotificationStatusChangeToFalse/@item.NotificationId" class="btn btn-outline-info btn-border btn-round">Okunmadı</a></td>
									</tr>
									i++;
								}
							</tbody>
						</table>
						<a href="/Notification/CreateNotification/" class="btn btn-outline-primary">Yeni Bildirim Ekle</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>